* {
    margin: 10px;
    padding: 0;
}

.display-align-item {
    display: flex;
}

.height {
    height: 150px;
}

.text-part {
    background-color: blue;
    width: 50%;
}

.right-part {
    background-color: green;
    width: 50%;
}

.item-one {
    background-color: blueviolet;
    width: 25%;
}

.item-two {
    background-color: aqua;
    width: 25%;
}

.item-three {
    background-color: red;
    width: 25%;
}

.item-four {
    background-color: orange;
    width: 25%;
}

.left-side {
    background-color: cornflowerblue;
    width: 78%;
}

.right-side {
    background-color: brown;
    width: 25%;
}

.left-div-part {
    background-color: blue;
    width: 35%;
}

.center-div-part {
    background-color: red;
    width: 35%;
}

.right-div-part {
    background-color: violet;
    width: 35%;
}

.div-left-side {
    background-color: yellow;
    width: 25%;
}

.div-right-side {
    background-color: black;
    width: 78%;
}