* {
    margin: 0px;
    padding: 0px;

}

.section1{
    background-color: aqua;
    margin-top: 0px;
}

.first {
    color: pink;
}

.second {
    color: aqua;
}
.main{
     margin-top: 15px;
}

.third {
     margin-bottom: 15px;
    color: rgb(15, 245, 15);
}

.order-list{
    background-color: darkblue;
    padding:30px;
}

h1{
    padding: 6px;
    text-align: center;
}
p{
    margin: 5px;
    padding: 5px;
    color: white;
}