* {
    margin: 0px;
    padding: 0;
}

.display-align-item {
    display: flex;
}

.height {
    height: 150px;
    margin: 10px;
}

.width {
    width: 50%;
}

.text-part {
    background-color: blue;
}

.right-part {
    background-color: green;
}

.seprate-width {
    width: 25%;
}

.item-one {
    background-color: blueviolet;
}

.item-two {
    background-color: aqua;
}

.item-three {
    background-color: red;
}

.item-four {
    background-color: orange;
}

.wid {
    width: 78%;
}

.left-side {
    background-color: cornflowerblue;
}

.right-side {
    background-color: brown;
}

.sep-width {
    width: 35%;
}

.sep-wid {
    width: 25%;
}

.left-div-part {
    background-color: blue;
}

.center-div-part {
    background-color: red;
}

.right-div-part {
    background-color: violet;
}

.div-left-side {
    background-color: yellow;
}

.div-right-side {
    background-color: black;
}