* {
    margin: 0;
    padding: 0;
}

.btn-part {
    background-color: #FC8621;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 700;
}

.div-main {
    display: flex;
}

.div-part {
    /* margin: 30px; */
    position: relative;
    text-align: center;
    top: 50px;
    left: 30px;
}

.padding-part {
    padding: 15px 50px 15px 50px;
}

p {
    color: #00000075;
    margin-bottom: 20px;
}

.absolute {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50px;
}

.img-part {
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

.img1 {
    position: absolute;
    top: 210px;
    left: 200px;
}

.img2 {
    position: absolute;
    top: 50px;
    left: 10px;
}

.img3 {
    position: absolute;
    top: -170px;
    left: 850px;
}

.img4 {
    position: absolute;
    top: -300px;
    left: 500px;
}