* {
    margin: 0;
    padding: 0;
}

.sec-main {
    padding: 20px 100px;
}

.div-main {
    display: flex;
    justify-content: space-between;
}

.display-main {
    display: flex;
}

.right-part {
    display: flex;
    align-items: center;
}

.mar-part {
    margin: 0px 10px 0px 10px;
    color: #4D4D4D;
}

.btn-part {
    background-color: #4CAF4F;
    color: #FFFFFF;
    border: none;
    border-radius: 2.78px;
    padding: 10px;
}

/* h1 {
    font-weight: 600;
    font-size: 44px;
} */

.font-part{
    font-weight: 600;
    font-size: 30px;
}

.gray-part {
    color: #4D4D4D;
}

.green-part {
    color: #4CAF4F;
}

.section-main {
    background-color: #F5F7FA;
}

.m-part {
    margin: 10px 0px 10px 0px;
}

.height {
    display: flex;
    justify-content: space-between;
    height: 83vh;
    align-items: center;
}

.div-dot-part {
    display: flex;
    justify-content: center;
}

.alignment {
    text-align: center;
    margin-bottom: 20px;
}

.img-alignment {
    display: flex;
    justify-content: space-between;
}

.para-color {
    color: #717171;
}

.h1-color {
    color: #4D4D4D;
}

.align-center {
    text-align: center;
}

.div-flex-part {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.border-part {
    border: 2px solid #ABBED133;
    border-radius: 5.57px;
    padding: 20px;
}

.right-div {
    align-items: center;
}

.img-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 35px 0px;
}

.div-part-main {
    display: flex;
    align-items: center;
}

.img-position {
    position: absolute;
    top: 200px;
    left: 20px;
    text-align: center;
    background-color: #F5F7FA;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.color {
    color: #F5F7FA;
}

.heading-color {
    color: #FFFFFF;
}

.relative-part {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.div-left-part {
    display: flex;
    align-items: center;
    padding: 15px 0px 40px 0px;
}

.div-right-part {
    display: flex;
    align-items: center;
    padding: 15px 0px 40px 0px;
}

.left-div {
    width: 60%;
}

.img-border-part {
    border: none;
    border-radius: 5px;
    background-color: #4D4D4D;
    padding: 10px;
}

.img-posi {
    position: relative;
    top: 3px;
    right: 20px;
}

.mid-img-position {
    position: absolute;
    left: 500px;
}

.last-img-position {
    position: absolute;
    right: 0px;
}

.right-div {
    padding: 30px;
    width: 50%;
}

.img-tesla {
    width: 80%;
}

.width {
    width: 50%;
}

.color-part {
    color: #263238;
}

.bg-color {
    background-color: #263238;
}

.absolute {
    position: absolute;
}

.txt-align {
    text-align: center;
    padding-bottom: 40px;
}

.wid-part{
    width: 40%;
}

.sec-height{
    height: 70vh;
}

.wid{
    width: 60%;
}

.font-weight{
    font-weight: 600;
    font-size: 44px;
}